* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header section */

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 140px;
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.678);
}

.header img {
  width: 150px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right a {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 13px;
}

.header-right select {
  padding: 2px 8px 2px 8px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.header-right i {
  color: white;
  font-size: 12px;
  padding-left: 4px;
}

.header-sel {
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(127, 114, 114);
  border-radius: 4px;
  padding-left: 6px;
}

/* hero section */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
  height: 88vh;
}

.container {
  height: 100vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg");
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}

#pricing-para {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 32px;
}

.hero-section h3 {
  color: rgb(255, 255, 255);
  font-family: unset;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero-section form {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box {
  width: 45vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section form input {
  height: 54px;
  width: 365px;
  font-size: 15px;
  padding-left: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 4px;
}

.hero-section button {
  margin-top: 15px;
  width: 200px;
  height: 54px;
  background-color: rgba(255, 0, 0, 0.918);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* image section */

.img-section {
  background-color: rgb(13, 12, 12);
  color: white;
  padding: 50px 140px;
}

.img-container {
  padding: 25px 0 25px 20px;
  display: flex;
  justify-content: space-between;
}

.img-container img {
  height: 250px;
  border-radius: 9px;
}

/* info section */

.info-section {
  padding: 0 140px;
  background-color: rgb(13, 12, 12);
  color: white;
}

.info-section .info {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.info-container {
  background: linear-gradient(180deg, #1f1b3a 0%, #0b0b0f 100%);
  width: 250px;
  height: 330px;
  margin-top: 20px;
  padding: 25px 18px 0 18px;
  border-radius: 15px;
}

.info-container h3 {
  font-size: 24px;
  padding-bottom: 15px;
}

.info-container p {
  color: #ffffffb3;
  font-size: 16px;
}

/* que section */

.que-section {
  padding: 50px 140px;
  background-color: black;
  color: white;
}

.que-section h2 {
  padding-bottom: 20px;
}

.que-section .ques {
  margin-bottom: 8px;
}

.que-section button {
  font-size: 25px;
  height: 85px;
  width: 100%;
  background-color: rgba(96, 89, 89, 0.468);
  color: white;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.que-section button i {
  font-size: 30px;
}
